<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee
         http://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>AddFlight</servlet-name>
        <servlet-class>com.airline.AddFlightServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddFlight</servlet-name>
        <url-pattern>/AddFlightServlet</url-pattern>
    </servlet-mapping>

</web-app>
